---
title: Home page
published: true
handle: index
---
{% extends 'layouts/default' %}

{% block content %}

  <div class="stinky-intro">
    <h1 class="stinky-title">Stinkylinks!</h1>
    <p class="stinky-lead">The best links when you are visiting the poo house</p>
  </div>

  {% for link in contents.links %}

    <div class="stinky-card">
        
      <a class="stinky-link" target="_blank" href="http://{{ link.url | remove:'http://' | split:'/' | first }}">{{ link.title }}</a>
      <p>{{ link.account.name }}</p>
      
      <div class="stinky-votes">

        {{ link.stinks }}
      
        <form action="{% path_to 'upvotelink' %}" method="POST">
          <input type="hidden" name="slug" value="{{ link._slug }}" />
          <input type="hidden" name="stinks" value="{{ link.stinks }}" />
          <input type="submit" value="Daym stinky!" class="s-button"/>
        </form>

      </div>

    </div>

  {% endfor %}

{% endblock %}